<div class="inline-block">
  <a class="card" href="<%= design_path(design) %>">
    <div class="col-2 col-gap-16">
      <div>
        <img class="placeholder" src="<%= design.a %>" />
      </div>
      <div>
        <img class="placeholder" src="<%= design.b %>" />
      </div>
    </div>
  </a>
  <div class="result">
    <div class="result-header flex">
      <img class="result-header-avatar avatar avatar-small" src="https://1.gravatar.com/avatar/4ebbd083830d32e580e0e16893acf85a?s=96&d=mm" />
      <span class="result-header-name"><%= design.user.name %></span>
      <div class="flex-1"></div>
      <small class="votes"><%= pluralize(design.votes.count, 'vote')%></small>
    </div>
    <div class="result-bars">
      <div class="flex">
        <span class="bar-label color-red">A</span>
        <span class="bar">
          <div class="bar-inner bg-red" style="width: <%= (design.votes.where(a: true).count.to_f / design.votes.count.to_f) * 100 %>%"></div>
        </span>
      </div>
      <div class="flex">
        <span class="bar-label color-blue">B</span>
        <span class="bar">
          <div class="bar-inner bg-blue" style="width: <%= (design.votes.where(a: false).count.to_f / design.votes.count.to_f) * 100 %>"></div>
        </span>
      </div>
    </div>
  </div>
</div>
