<%
a_votes = @votes[[design.id, true]] || 0
b_votes = @votes[[design.id, false]] || 0
%>
<div class="inline-block">
  <a class="card" href="<%= design_path(design) %>">
    <div class="col-2 col-gap-16">
      <div>
        <img class="placeholder" src="<%= design.a %>" />
      </div>
      <div>
        <img class="placeholder" src="<%= design.b %>" />
      </div>
    </div>
  </a>
  <div class="result">
    <div class="result-header flex">
      <%= image_tag avatar_url(design.user), class: 'result-header-avatar avatar avatar-small', alt: '' %>
      <span class="result-header-name"><%= design.user.name || design.user.email %></span>
      <div class="flex-1"></div>
      <small class="votes"><%= pluralize(a_votes + b_votes, 'vote')%></small>
    </div>
    <%= render 'designs/result_bars', a: a_votes, b: b_votes %>
  </div>
</div>
