
<div class="card">
  <div class="col-2 col-gap-16">
    <div>
      <img class="placeholder" src="<%= design.a %>" />
    </div>
    <div>
      <img class="placeholder" src="<%= design.b %>" />
    </div>
  </div>
</div>
<div class="result">
  <div class="result-header flex">
    <img class="result-header-avatar avatar avatar-small" src="https://1.gravatar.com/avatar/4ebbd083830d32e580e0e16893acf85a?s=96&d=mm" />
    <span class="result-header-name"><%= design.user.name %></span>
    <div class="flex-1"></div>
    <small class="votes"><%= pluralize(design.votes.count, 'vote')%></small>
  </div>
  <h2><%= design.title %></h2>
  <p><%= design.description %></p>
  <div class="result-bars">
    <div class="flex">
      <span class="bar-label color-red">A</span>
      <span class="bar">
        <div class="bar-inner bg-red" style="width: 80%"></div>
      </span>
    </div>
    <div class="flex">
      <span class="bar-label color-blue">B</span>
      <span class="bar">
        <div class="bar-inner bg-blue" style="width: 20%"></div>
      </span>
    </div>
  </div>
</div>
