<%
a_votes = @votes[true] || 0
b_votes = @votes[false] || 0
%>
<div class="card">
  <div class="col-2 col-gap-16">
    <div>
      <img class="placeholder" src="<%= @design.a %>" />
    </div>
    <div>
      <img class="placeholder" src="<%= @design.b %>" />
    </div>
  </div>
</div>
<div class="result">
  <div class="result-header flex">
    <img class="result-header-avatar avatar avatar-small" src="https://1.gravatar.com/avatar/4ebbd083830d32e580e0e16893acf85a?s=96&d=mm" />
    <span class="result-header-name"><%= @design.user.name %></span>
    <div class="flex-1"></div>
    <small class="votes"><%= pluralize(a_votes + b_votes, 'vote')%></small>
  </div>
  <h2><%= @design.title %></h2>
  <p><%= @design.description %></p>
  <%= render 'designs/result_bars', a: a_votes, b: b_votes %>
</div>
