<div class="grid grid-50 grid-gap-32">
  <div>
    <%= render "designs/design", width: "260", height: "195" %>
    <%= render "designs/design", width: "260", height: "235" %>
    <%= render "designs/design", width: "260", height: "391" %>
  </div>
  <div>
    <%= render "designs/design", width: "260", height: "462" %>
    <%= render "designs/design", width: "260", height: "195" %>
  </div>
</div>
