<!DOCTYPE html>
<html>
  <head>
    <title>Aaybee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav nav-top flex">
      <a href="/" class="nav-link logo">aaybee</a>
      <div class="flex-1"></div>
      <% if user_signed_in? %>
        <a href="#" class="nav-link">your tests</a>
        <a href="/designs/new" class="nav-link">upload design</a>
        <a href="<%= destroy_user_session_path %>" class="nav-link" rel="nofollow" data-method="delete">
          <%= image_tag avatar_url(current_user), class: 'avatar avatar-medium', alt: '' %>
        </a>
      <% else %>
        <a href="<%= new_user_session_path %>" class="nav-link">sign in</a>
      <% end %>
    </div>
    <div class="nav flex">
      <a href="/designs" class="nav-link <%= "nav-link-active" if current_page?('/designs') %>">View all</a>
      <a href="#" class="nav-link">View following</a>
      <div class="flex-1"></div>
      <a href="#" class="nav-link">Sort by date</a>
    </div>
    <div class="content">
      <% if notice %>
      <div class="flash flash-notice"><%= notice %></div>
      <% end %>
      <% if alert %>
      <div class="flash flash-alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
